# API Configuration
PORT=4000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=angular-21-auth-db

# JWT Configuration
JWT_SECRET=your-super-secret-key-here

# Email Configuration (Resend.com)
# Use these if you are using Nodemailer with Resend SMTP
EMAIL_FROM=onboarding@resend.dev
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASSWORD=your-resend-api-key-here
